
*{
    margin: 0;
    padding: 0;

}

.navbar{
    font: 16px arial, Helvetica, sans-serif;
    background-color: black;
    border: solid blue 2px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;

}

.navbar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    border: solid blue 2px;    
}

.navbar a:hover{
    background-color: blue;
    color: white;
    transition: all 1.5s ease;
}

